/* Light mode */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #000000;
      --text-color: #ffffff;
    }
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }